/****************************************************************************
 **                           - Global Styles -                            **
 ***************************************************************************/

* {
	margin: 0;
	padding: 0;
	font-family: Ubuntu, sans-serif;
}

body {
	font-size: 11pt;
	background-color: #0080FF;
}


/****************************************************************************
 **                             - Div Styles -                             **
 ***************************************************************************/

#main {
	width: 80%;
	margin: 0 auto;
	position: relative;
}

#main > div.segment {
	margin: 1em 0;
	padding: 1em 3em;
	border: 1px solid #000;
	border-radius: 1em;
	background-color: #C0E0FF;
}


/****************************************************************************
 **                           - Banner Styles -                            **
 ***************************************************************************/

#banner {
	margin: 0;
	padding: 0;
}


/****************************************************************************
 **                           - Content Styles -                           **
 ***************************************************************************/

#content p {
	margin-bottom: 0.75em;
}

#content {
	text-align: justify;
}


/****************************************************************************
 **                         - Navigation Styles -                          **
 ***************************************************************************/

#navigation ul {
	list-style: none;
}

#navigation ul li {
	float: left;
	border: 1px solid black;
}


/****************************************************************************
 **                           - Footer Styles -                            **
 ***************************************************************************/

#footer p {
	font-size: 9pt;
}